html, body{
    height: 50 %;
    background-image: url(https://openclipart.org/download/248388/dotted_background.svg) 
}
.header{
    font-size: 50px;
}
img {
    vertical-align: middle;
}
.content-wrapper{
    height: 100px;  
}
.content-wrapper .sidebar-left{
    background-color: lightgreen  ; 
    float: left;
    height: 100%;
    width: 15%;
}
.content=wrapper .sidebar left a{
    display: block;
}
.content-wrapper .content-main{
    background-color: burlywood;
    float: left;
    height: 100%;
    width: 70%;
}
.content-wrapper .sidebar-right{
    background-color: lightseagreen; 
    float: right;
    height: 100%;
    width: 15%;
}
.footer{
  background-color:  lightsalmon;
    clear: both;
    height: 100%;
}